#gnb {
  text-align: right;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 100;
  display: flex;
  flex-direction: column;
  margin: 30px 50px 0 0;
}
#gnb a {
  font-weight: 600;
  margin-bottom: 3px;
}
#menu {
  position: relative;
  font-size: 18px;
}
#menu > a {
  font-size: 20px;
}
#menu > a:after {
  content: "";
  display: inline-block;
  background-image: url("../image/menu_plus.png");
  background-repeat: no-repeat;
  background-size: 15px;
  width: 15px;
  height: 15px;
  margin-left: 10px;
}

#menu > a,
#menu ~ a {
  background: #fff;
  display: block;
  /* margin: 10px 0; */
  padding: 10px 20px;
}

#sub-menu {
  padding: 10px 0;
  margin-bottom: 10px;
  background: #fff;
}
#sub-menu li a {
  font-size: 16px;
  display: block;
  padding: 3px 10px;
  font-weight: 300;
}
